.cards {
    margin-top: 2.5em;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.card {
    border: 1px solid rgba(128, 128, 128, 0.259);
    padding: 0.5em 1em;
    width: 40lvw;
    height: 15lvh;
    border-radius: 10px;
    display: flex;
box-shadow:0px 3px 8px 0px rgba(0,0,0,0.11);
    flex-direction: column;
    justify-content: center;
}


main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    text-align: center;

}

main section{
    margin: 4em;

    
}

main section h2{
    margin-bottom: 0.5em;
    
    
}

#Presentation {
       display: flex;
       flex-direction: column;
       align-items: center;

}

#Presentation a{
text-wrap: wrap;
        width: 10lvw;
        margin-top: 1em;
        padding: 0.6em .6em;

}