.cards {
    margin-top: 2.5em;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.card {
    border: 1px solid rgba(128, 128, 128, 0.259);
    padding: 0.5em 1em;
    width: 40lvw;
    height: 15lvh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    text-align: center;

}

main section{
    margin: 4em;

    
}

main section h2{
    margin-bottom: 0.5em;
    
    
}

#Presentation button{
        margin-top: 1em;
        padding: 0.6em 1em;

}